/* Base color: #124889 */

/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

fieldset, img {
    border: none;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LAYOUT */
#header {
    padding: 5px 10px 10px 10px;
    text-align: center;
}

#headerLogo {
    position: absolute;
    right: 18px;
    top: 6px;
}

#nav {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

#content {
    display: table;
    padding: 18px 25px 25px 25px;
    margin-left: auto;
    margin-right: auto;
}

#contentSpacer {
    width: 648px;
    height: 1px;
}

#footer {
    clear: both;
    padding: 5px 10px;
}

/* TYPE */
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    background-color: #e0e0e0;
    color: #000;
}

th, td {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#header {
    background-color: #447ec4;
    color: #1f3a5b;
}

#controllerInfo {
    font-size: 10px;
    padding-bottom: 4px;
}

#pageTitle {
    font-size: 1.8em;
    font-weight: normal;
}

#content {
    background-color: #fff;
}

h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 0 0.3em 1em;
}

div.error {
    background: #fbfcca url("cross-circle.png") no-repeat 12px 48%;
    color: #cc0000;
    padding: 6px 10px 6px 40px;
}

div.warn {
    background: #fbfcca url("exclamation.png") no-repeat 12px 48%;
    color: #cc0000;
    padding: 6px 10px 6px 40px;
}

div.info {
    background: #c2d6f2 url("information-balloon.png") no-repeat 12px 48%;
    color: #124889;
    padding: 6px 10px 6px 40px;
}

/* NAVIGATION */
#nav {
    background-color: #062c59;
    color: #fff;
}

#nav a {
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    width: 98px;
}

#nav a:hover, #nav a.selected {
    background-color: #d1840b;
    color: #fff;
    text-decoration: none;
}

#nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#nav li {
    display: block;
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#nav li.left {
    height: 26px;
    border-left: none;
}

#nav li.right {
    height: 26px;
    border-right: none;
}

/* TABLE */
table.its thead tr {
    color: #000;
    background-color: #6691c4;
    font-weight: bold;
}

table.its th.ascending {
    background-color: #e8a843;
}

table.its th.descending {
    background-color: #e8a843;
}

table.its tr.even {
    background-color: #eef;
}

table.its tr.odd {
    background-color: #fff;
}

table.its tr.even.selected {
    background-color: #e8a843;
}

table.its tr.odd.selected {
    background-color: #e8a843;
}

table.its, table.its td, table.its th {
    border: 1px solid #666;
}

table.its td a {
    display: block;
    width: 100%;
    color: #00c;
    text-decoration: none;
}

/* FIELD SETS */
fieldset {
    clear: both;
    border: 1px solid #666;
    padding: 10px 15px 15px 15px; /* padding in fieldset support spotty in IE */
    margin-top: 1em;
    min-width: 600px;
}

fieldset legend {
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
}

fieldset label {
    display: block; /* block float the labels to left column, set a width */
    float: left;
    margin-right: 5px;
    width: 150px;
    padding: 0;
    text-align: right;
    font-weight: bold;
}

fieldset p {
    float: left;
}

fieldset p.narrow {
    width: 430px;
}

fieldset div.field {
    clear: left;
}

fieldset h1, fieldset h2 {
    clear: left;
    font-size: 1.0em;
    font-weight: bold;
    margin: 0 0 0 160px;
}

fieldset hr {
    border: 0;
    border-top: solid 1px #666;
    height: 1px;
    margin-bottom: 10px;
}


/* STATUS STYLES */
div.statusOk {
    background: url("tick-circle.png") no-repeat left center;
    padding-left: 20px;
}

div.statusWarn {
    background: url("exclamation.png") no-repeat left center;
    padding-left: 20px;
}

div.statusError {
    background: url("cross-circle.png") no-repeat left center;
    padding-left: 20px;
}

div.statusAvailable {
    background: url("tick-circle.png") no-repeat left center;
    padding-left: 20px;
}

div.statusUnavailable {
    background: url("exclamation-red.png") no-repeat left center;
    padding-left: 20px;
}

div.statusDisabled {
    background: url("minus-white.png") no-repeat left center;
    padding-left: 20px;
}

div.statusUnknown {
    background: url("question.png") no-repeat left center;
    padding-left: 20px;
}

div.statusNone {
    background: url("slash.png") no-repeat left center;
    padding-left: 20px;
}

/* FORMS */
input[type="submit"] {
    margin-right: 15px;
}
